/.cargo/
/.vscode/
/distinst/
/debian/files
/target/
/vendor/
/examples/c/install
/examples/c/install-debug
/examples/c/list
/examples/c/list-debug
/tests/filesystem.squashfs
/tests/filesystem.manifest-remove
/tests/loopback.bin
