/.cargo/
/.vscode/
/distinst/
/debian/files
/ffi/target/
/target/
/vendor/
/vendor.tar.xz
/tests/filesystem.squashfs
/tests/filesystem.manifest-remove
/tests/loopback.bin
debian/
!debian/source
!debian/changelog
!debian/compat
!debian/control
!debian/copyright
!debian/*.install
