#!/usr/bin/make -f

export GETTEXT_SYSTEM = 1

%:
	dh $@

override_dh_auto_clean:
	make clean
	make vendor

override_dh_auto_build:
	make all

override_dh_auto_install:
	dh_auto_install -- prefix=/usr
