#!/usr/bin/make -f

export GETTEXT_SYSTEM = 1

CLEAN ?= 1
VENDORED ?= 1

%:
	dh $@

override_dh_auto_clean:
ifeq ($(CLEAN),1)
	make clean
endif
ifeq ($(VENDORED),1)
	if ! ischroot; then \
		rm -rf .cargo vendor vendor.tar.xz; \
		mkdir -p .cargo; \
		cargo vendor | head -n -1 > .cargo/config; \
		echo 'directory = "vendor"' >> .cargo/config; \
		tar pcfJ vendor.tar.xz vendor; \
		rm -rf vendor; \
	fi
endif

override_dh_auto_build:
ifeq ($(VENDORED),1)
	tar pxf vendor.tar.xz
endif
	env CARGO_HOME="$$(pwd)/target/cargo" make all

override_dh_auto_install:
	dh_auto_install -- prefix=/usr
